* {
    padding: 40px 100px;
    color: black;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.services__item {
    background-color: #ddecff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    flex: 1 1 calc(30% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;
}

.services__item:hover {
    transform: scale(1.05);
}

.services__item--small {
    max-width: 300px;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    margin: 0 auto;
}

.services__item--large {
    background-color: #ADAEE6;
    flex: 1 1 100%;
    margin: 0;
}

.services__item--bg-purple {
    background-color: #ADAEE6;
}

.services__item--bg-red {
    background-color: #e6adad;
}

.services__item-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
}

.services__item-title {
    font-size: 20px;
    margin: 10px 0;
}

.services__item-content {
    font-size: 16px;
}

@media (max-width: 768px) {
    .services__item {
        flex: 1 1 calc(45% - 20px);
    }
}

@media (max-width: 700px) {
    .services__item--small .services__item-img {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 480px) {
    .services__item {
        flex: 1 1 100%;
    }
    .services__item-title {
        font-size: 18px;
    }
    .services__item-content {
        font-size: 14px;
    }
}